
.pull-right{float:right;}
.pull-left{float:left;}
.center-align{margin:0 auto; text-align:center;}

/* Media Queries */
/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
	
}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
	
}

@media (max-width: 991px){
	.flight-types > ul > li:before {margin-right: 8%;}
}

@media (max-width: 767px){
	.search-flights .btn-red{width:100%;}
	
}

@media (max-width: 730px){
	
}

@media (max-width: 688px){
	
}

@media (max-width: 558px){
}

@media (max-width: 528px){
	
}

@media (max-width: 523px){
	
}

@media (max-width: 407px){
	h1{font-size:1.5em;}
	body {font-size:1.2em;}
}

@media (max-width: 360px){
	
}

@media (max-width: 340px){
	
}

@media (max-width: 321px){
	h1{font-size:1.3em;}
	body {font-size:1.2em;}
}